<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sn170507180223.classroom.android.sdwu.edu.cn.newproject">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="女院"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ch4Actity_1" />
        <activity android:name=".ch4Actity_2" />
        <activity android:name=".ch4Actity_3" />
        <activity android:name=".ch5Actity" />
        <activity android:name=".ch5actity_1" />
        <activity android:name=".ch6Atity" />
        <activity android:name=".Ch7Actity" />
        <activity android:name=".ch7Actity_2" />
        <activity android:name=".ch7Activity_3" />
        <activity android:name=".ch8Actity_1" />
        <activity android:name=".ch9Actity"></activity>
        <activity android:name=".ch9Actity_2">

        </activity>
        <activity android:name=".ch8Actity_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>